[Unit]
Description=USOM IP Cekici Servisi
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 /opt/usom_entegrasyonu/fetch_usom.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
